{% include "includes/header.html" %}

<main class="content-wrapper">
  <div class="container pt-4 pt-lg-5 pb-5">
    <div class="row pt-sm-2 pt-md-3 pt-lg-0 pb-2 pb-sm-3 pb-md-4 pb-lg-5">

      <div class="col-lg-9 pt-2 pt-xl-3">

        <!-- Page title -->
        <h1 class="h2 pb-1 pb-sm-2 pb-md-3">Add your File Link here</h1>

        <!-- Nav tabs -->
        <div class="overflow-auto mb-3">
          
        </div>


        <!-- Tabs content -->
        <div class="tab-content">

          <!-- Profile tab -->
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <!-- Avatar -->
            

            <!-- Settings form -->
            <form class="needs-validation" action="/add/submit" method="post">
              <div class="row row-cols-1 row-cols-sm-2 g-4 mb-4">
                <div class="col position-relative">
                  <label for="fn" class="form-label fs-base">First name (non mandetory) </label>
                  <input name="username" type="text" class="form-control form-control-lg rounded-pill" id="fn"  required="">
                  <div class="invalid-tooltip bg-transparent p-0">Enter your first name!</div>
                </div>
                <div class="col position-relative">
                  <label for="ln" class="form-label fs-base">Link </label>
                  <input name="link" type="url" class="form-control form-control-lg rounded-pill" id="ln"  required="">
                  <div class="invalid-tooltip bg-transparent p-0">Enter a valid title!</div>
                </div>
                <div class="col position-relative">
                  <label for="email" class="form-label d-flex align-items-center fs-base">Title *</label>
                  <input name="title" type="text" class="form-control form-control-lg rounded-pill" id="email"  required="">
                  <div class="invalid-tooltip bg-transparent p-0">Enter a valid title!</div>
                </div>
                <div class="col">
                  <label for="display-name" class="form-label fs-base">File Size (if applicable)</label>
                  <input name="size" type="text" class="form-control form-control-lg form-icon-end rounded-pill" id="display-name" >
                </div>

                <div class="col">
                  <label for="display-name" class="form-label fs-base">Category (if applicable)</label>
                  <select name="category" type="text" class="form-control form-control-lg form-icon-end rounded-pill" id="display-name">

                    <option value="all" selected>All Categories</option>
                    <option value="anime">Anime</option>
                    <option value="audio">Audio</option>
                    <option value="books">Books</option>
                    <option value="literature">Literature</option>
                    <option value="movie">Movie</option>
                    <option value="photos">Photos</option>
                    <option value="youtube">Youtube</option>
                    <option value="software">Software</option>
                    <option value="games">Games</option>
                    <option value="application">Application</option>
                  </select>
                </div>
                <div class="col">
                  <label for="display-name" class="form-label fs-base">Img Url (if applicable)</label>
                  <input name="img" type="text" class="form-control form-control-lg form-icon-end rounded-pill" id="display-name" >
                </div>
              </div>
              <div class="pb-2 mb-3 mb-sm-4">
                <label for="description" class="form-label fs-base">Description</label>
                <textarea name="desc" class="form-control form-control-lg rounded-5" id="description" rows="6">Eg : Google Drive like for my Work &amp; Games</textarea>
              </div>

              <div class="d-flex gap-3">
                <button type="submit" class="btn btn-lg btn-primary rounded-pill">Save changes</button>
                <button type="reset" class="btn btn-lg btn-secondary rounded-pill">Cancel</button>
              </div>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</main>
{% include "includes/footer.html" %}

