<script>
  const images = document.querySelectorAll('img');
  console.log('as : ',images)
  images.forEach(img => {
      img.onerror = function() {
          img.src = 'https://cartzilla-html.createx.studio/assets/img/home/marketplace/categories/04.jpg';
      };
  });
</script>
{% include "includes/header.html" %}

<!-- Comment form modal -->
<div
  class="modal fade"
  id="commentForm"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="commentFormLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <form
      class="modal-content needs-validation"
      action="/add/submit_comment"
      method="post"
    >
      <div class="modal-header border-0">
        <h5 class="modal-title" id="commentFormLabel">Leave a comment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-3 pt-0">
        <div class="mb-3">
          <label for="review-name" class="form-label"
            >Your name <span class="text-danger">*</span></label
          >
          <input
            name="name"
            type="text"
            class="form-control rounded-pill"
            id="review-name"
            required=""
          />
          <div class="invalid-feedback">Please enter your name!</div>
          <small class="form-text">Will be displayed on the comment.</small>
        </div>
        <div class="mb-3">
          <label for="review-email" class="form-label"
            >Your rating <span class="text-danger">*</span></label
          >
          <input
            name="rating"
            min="0"
            max="10"
            step="1"
            placeholder="0-10"
            type="number"
            class="form-control rounded-pill"
            id="review-email"
            required=""
          />
          <div class="invalid-feedback">
            Please provide a valid email address!
          </div>
          <small class="form-text"
            >Authentication only - we won't spam you.</small
          >
        </div>
        <div>
          <label class="form-label" for="review-text"
            >Comment <span class="text-danger">*</span></label
          >
          <textarea
            name="comment"
            class="form-control rounded-6"
            rows="5"
            id="review-text"
            required=""
          ></textarea>
          <div class="invalid-feedback">Please write your comment!</div>
          <small class="form-text"
            >Your comment must be at least 50 characters.</small
          >
        </div>
      </div>
      <input hidden type="text" value="" name="post_id" id="post_id" />
      <script>
        const url = window.location.href;
        const postId = url.match(/view\/(\d+)/)[1];
        document.getElementById("post_id").value = postId;
      </script>
      <div class="modal-footer flex-nowrap gap-3 border-0 px-4">
        <button
          type="reset"
          class="btn btn-secondary w-100 rounded-pill m-0"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-dark w-100 rounded-pill m-0">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Page content -->
<main class="content-wrapper">
  <!-- Product details -->
  <section class="container pb-2 pb-sm-3 pb-md-4 pb-lg-5 mb-xxl-3">
    <!-- Breadcrumb -->
    <ol class="breadcrumb pt-3 mt-2 mt-md-3 mb-md-4">
      <li class="breadcrumb-item"><a href="home-marketplace.html">Home</a></li>
      <li class="breadcrumb-item">
        <a href="shop-catalog-marketplace.html">Catalog</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Digital product page
      </li>
    </ol>

    <!-- Page title + Product meta -->
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <h1 class="h3 mb-sm-4">{{data.title}}</h1>

        <!-- Product meta + Action buttons -->
        <div
          class="d-flex flex-column flex-md-row align-items-md-center gap-3 gap-md-4"
        >
          <div class="nav align-items-center gap-2 fs-sm">
            <a
              class="nav-link text-body gap-1 p-0"
            >
              <div
                class="flex-shrink-0 border rounded-circle"
                style="width: 32px"
              >
                <div class="ratio ratio-1x1 rounded-circle overflow-hidden">
                  <img
                    src="https://cartzilla-html.createx.studio/assets/img/shop/marketplace/single/avatar.png"
                    alt="Avatar"
                  />
                </div>
              </div>
              {{data.username}}
            </a>
            <div class="text-body-secondary">in</div>
            <a
              class="nav-link text-body p-0"
              href="/?c={{data.category}}"
              >{{data.category}}</a
            >
          </div>
          <div class="d-flex justify-content-between flex-grow-1 gap-4">
            <!-- Number of sales badge -->
            <span
             
            >
              </span>

            <!-- Likes + Comments + Sharing -->
            <div class="d-flex gap-2">
              <button
                type="button"
                class="btn btn-sm btn-secondary rounded-pill animate-pulse"
              >
                <i class="ci-heart animate-target fs-sm ms-n1 me-1"></i>
                12
              </button>
              <a
                class="btn btn-sm btn-secondary rounded-pill animate-scale"
                href="#comments"
              >
                <i
                  class="ci-message-circle animate-target fs-sm ms-n1 me-1"
                ></i>
                {{comments | length}}
              </a>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-5 pt-4">
      <!-- Product gallery + Description -->
      <div class="col-lg-8 col-xl-9">
        <!-- Gallery -->
      

        <!-- Product info visible on screens < 992px wide (lg breakpoint) -->
        <h2 class="h4 d-lg-none pt-5 mt-md-2 mb-lg-4">Product info</h2>
        <table class="table table-borderless table-sm d-lg-none mb-0">
          <tbody>
            <tr>
              <td class="text-body-secondary ps-0">Format</td>
              <td class="text-dark-emphasis pe-0">
                <div class="d-flex gap-3">
                  <div
                    class="ratio ratio-1x1 d-flex flex-shrink-0"
                    style="width: 20px"
                  >
                    <img
                      src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/figma.png"
                      alt="Figma"
                    />
                  </div>
                  <div
                    class="ratio ratio-1x1 d-flex flex-shrink-0"
                    style="width: 20px"
                  >
                    <img
                      src="https://cartzilla-html.createx.studio/assets/img/home/marketplace/formats/photoshop.png"
                      alt="Photoshop"
                    />
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-body-secondary ps-0">Last update</td>
              <td class="text-dark-emphasis pe-0">21 October 2024</td>
            </tr>
            <tr>
              <td class="text-body-secondary ps-0">Published</td>
              <td class="text-dark-emphasis pe-0">10 August 2024</td>
            </tr>
            <tr>
              <td class="text-body-secondary ps-0">High resolution</td>
              <td class="text-dark-emphasis pe-0">Yes</td>
            </tr>
            <tr>
              <td class="text-body-secondary ps-0">File type</td>
              <td class="text-dark-emphasis pe-0">FIG, PSD, JPG</td>
            </tr>
            <tr>
              <td class="text-body-secondary ps-0">File size</td>
              <td class="text-dark-emphasis pe-0">140.8 MB</td>
            </tr>
          </tbody>
        </table>

        <!-- Overview -->
        <!-- <h2 class="h4 pt-5 mt-md-2 mb-lg-4">Overview</h2> -->
        <p>{{data.desc | safe}}</p>

        <!-- Highlights -->

        <!-- Tags visible on screens < 992px wide (lg breakpoint) -->

        <!-- Comments -->
        <div
          class="d-flex align-items-center gap-3 pt-5 mt-md-2 mb-3"
          id="comments"
          style="scroll-margin-top: 60px"
        >
          <h2 class="h4 mb-0">Comments ({{comments | length}})</h2>
          <button
            type="button"
            class="btn btn-outline-secondary rounded-pill ms-auto"
            data-bs-toggle="modal"
            data-bs-target="#commentForm"
          >
            <i class="ci-edit-3 fs-base ms-n1 me-2"></i>
            Leave a comment
          </button>
        </div>
        <div class="bg-body-tertiary rounded-4 p-4 p-sm-5">
          <div class="vstack gap-3 gap-md-4 mt-n3">
            {% for comment in comments %}
            <!-- Comment -->
            <div class="mt-3">
              <div
                class="d-flex align-items-center justify-content-between gap-3 mb-3"
              >
                <div class="d-flex align-items-center">
                  <div
                    class="ratio ratio-1x1 flex-shrink-0 bg-body-secondary rounded-circle overflow-hidden"
                    style="width: 40px"
                  >
                    <img
                      src="https://avatar.iran.liara.run/public/boy?username={{comment.name}}"
                      alt="Avatar"
                    />
                  </div>
                  <div class="ps-2 ms-1">
                    <div class="fs-sm fw-semibold text-dark-emphasis mb-1">
                      {{comment.name}}
                    </div>
                    <div class="fs-xs text-body-secondary">
                      {{comment.timestamp}}
                    </div>
                  </div>
                </div>
                <div class="d-flex gap-2">
                  <button
                    type="button"
                    class="btn btn-sm btn-secondary bg-body border-0 animate-pulse rounded-pill"
                  >
                    <i class="ci-heart animate-target fs-sm ms-n1 me-1"></i>
                    {{comment.rating}}
                  </button>
                  <!-- <button type="button" class="btn btn-icon btn-sm btn-secondary bg-body border-0 animate-slide-end rounded-circle" aria-label="Reply">
                        <i class="ci-corner-up-right animate-target fs-sm"></i>
                      </button> -->
                </div>
              </div>
              <p class="fs-sm mb-0" style="overflow: auto;">{{comment.comment | safe}}</p>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>

      <!-- Sidebar: Licenses + Info visible on screens > 991px wide (lg breakpoint) -->
      <aside class="col-lg-4 col-xl-3 d-none d-lg-block">
        <div class="d-none d-lg-block" style="margin-top: -110px"></div>
        <div class="sticky-lg-top">
          <div class="d-none d-lg-block" style="padding-top: 110px"></div>

          <!-- License selection + Add to cart button -->
          <div class="border rounded-4 py-2 px-4 mb-4">
            <div class="accordion accordion-flush" id="licenses">
              <div class="accordion-item">
                
                <div class="vstack gap-3">
                  <a
                    class="hover-effect-scale hover-effect-opacity position-relative d-flex rounded-4 overflow-hidden"
                    href=""
                    data-glightbox=""
                    data-gallery="product-gallery"
                  >
                    <i
                      class="ci-zoom-in hover-effect-target fs-3 text-white position-absolute top-50 start-50 translate-middle opacity-0 z-2"
                    ></i>
                    <div
                      class="ratio hover-effect-target bg-body-tertiary"
                      style="--cz-aspect-ratio: calc(640 / 966 * 100%)"
                    >
                      <img src="{{data.img}}" alt="Image" />
                    </div>
                  </a>
                </div>
                <div
                  class="accordion-collapse collapse show"
                  id="standard-license"
                  data-bs-parent="#licenses"
                >
                  <div class="accordion-body py-0 pb-2">
                    <ul class="list-unstyled fs-sm">
                      <li class="d-flex align-items-center">
                        <!-- <i class="ci-check-circle text-info me-2"></i>
                        <span class="fs-ms">{{data.link}}</span> -->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-lg btn-dark w-100 rounded-pill animate-scale mt-1 mb-3"
            >
              <a href="{{data.link}}" style="color: white; text-decoration: none;">
                <i class="ci-shopping-bag fs-lg animate-target me-2 ms-n1"></i>
                Download or Visit
              </a>
            </button>
          </div>

          <!-- Product info -->
          <div class="ps-4 pe-3 mb-4">
            <h4 class="h6 pb-2 mb-1">Link Info</h4>
            <table class="table table-borderless table-sm fs-sm mb-0">
              <tbody>
             

                <tr>
                  <td class="text-body-secondary ps-0">Published</td>
                  <td class="text-dark-emphasis pe-0">{{data.timestamp[0:10]}}</td>
                </tr>

                <tr>
                  <td class="text-body-secondary ps-0">File type</td>
                  <td class="text-dark-emphasis pe-0">Unknown</td>
                </tr>
                <tr>
                  <td class="text-body-secondary ps-0">File size</td>
                  <td class="text-dark-emphasis pe-0">{{data.size}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </aside>
    </div>
  </section>

  <!-- Similar products carousel -->
</main>

{% include "includes/footer.html" %}

<div
  class="fixed-bottom z-sticky d-flex d-lg-none w-100 gap-2 bg-dark border-top border-light border-opacity-10 p-3 pb-4"
>
  <div class="w-100" style="min-width: 175px" data-bs-theme="dark">
    <label class="form-label m-0">Visit or Download Now</label>
    <div
      class="choices"
      data-type="select-one"
      tabindex="0"
      role="listbox"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="form-select border-0 rounded-0 p-0">
        <select
          class="form-select rounded-pill choices__input"
          data-select='{
          "classNames": {
            "containerInner": ["form-select", "border-0", "rounded-0", "p-0"]
          },
          "removeItemButton": false
        }'
          aria-label="Small pill select"
          hidden=""
          tabindex="-1"
          data-choice="active"
        >
        
        </select>
        <div class="choices__list choices__list--single">
          <div
            class="choices__item choices__item--selectable"
            data-item=""
            data-id="1"
            data-value="standard"
            aria-selected="true"
            role="option"
          >
            {{data.link}}
          </div>
        </div>
      </div>
 
    </div>
  </div>
  <button
    type="button"
    class="btn btn-light bg-white w-100 rounded-pill animate-scale"
  >
    <i class="ci-shopping-bag fs-base animate-target me-2 ms-n1"></i>
    Link
  </button>
</div>










